canvas{
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

*{
  margin: 0;
  padding: 0;
  border: border-box;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

a{
  text-decoration: none;
}

.nav-links li{
   list-style: none;
}

.header{
  font-family: "Helvetica";
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  background: #F2F7F2;
  height: 10vh;
  align-items: center;
}

.logo{
  font-family: "Helvetica";
  color: #000;
  font-size: 40px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}


.nav-links a{
  color: #000;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 25px;
}



/* 
.back-img{
  width: 100%;
  height: 90vh;
  background-image: url(IMG_6308.jpg);
  background-position: center;
  background-size: cover;
} */

.menu{
  display: none;
  cursor: pointer;
}
.menu div{
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0px;
  border-radius: 10px;
}

.black-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  left: 0;
  top: 10vh;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

@media all and (max-width: 800px) {
  .menu{
    display: block;
  }

  .nav-links{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    text-align: center;
    background: #F2F7F2;
    padding: 30px;
    transform: translateX(-500px);
    transition: 0.5s ease-in-out;
    z-index: 1;
  }

  .nav-links li{
    text-align: left;
    padding: 22px;
    border-bottom: 1px solid #000;
  }

  .show{
    transform: translateX(0px);
  }
}

.header {
  text-align: center;
  padding: 32px;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.row {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
}
.column {
   flex: 25%;
   max-width: 25%;
   padding: 0 4px;
}
.column img {
   margin-top: 8px;
   width: 100%;
   padding: 10px;
}
@media screen and (max-width: 800px) {
   .column {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .column {
      flex: 100%;
      max-width: 100%;
   }
}
